.banner{
        background-image: url(../Images/ba1.jpg);
        background-size: cover;
        position: relative;
        background-color: rgba(0, 0, 0, 0.522); 
        background-blend-mode: multiply;
    }
    
.banner-info{
        font-weight: 400;
        color:white;
    }
    